html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Merriweather', serif;
  text-align: center;
  margin: 0;

}

h1 {
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  color: #3282b8;
  line-height: 2;
  margin: 50px auto 0 auto;

}

.front-end-font {
  color: #3282b8;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

h2 {
  color: #7CB74B;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

h3 {
  color: #7CB74B;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar {
  background-color: #3282b8;
  font-size: 1.1rem;
  font-weight: normal;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

li {
  float: left;
}

li a {
  color: #bbe1fa;
  display: inline-block;
  left: 50px;
  padding: 8px;
  position: relative;
  text-decoration: none;
}

.woodland {
  position: relative;
  right: 775px;
}

@media screen (max-width: 768px) {
  .woodland {
    position: relative;
    right: 390px;
  }
}

.top-container {
  background-color: #bbe1fa;
  position: relative;
  padding-top: 100px;
}

.top-satellite {
  position: absolute;
  right: 220px;
  top: 50px;
  transform: rotate(-175deg);
}

@media screen (max-width: 768px) {
  .top-satellite {
    position: absolute;
    right: 10px;
    top: 50px;
    transform: rotate(-175deg);
  }
}

.bottom-moon {
  bottom: 280px;
  position: absolute;
  left: 180px;
}

@media (max-width: 768px) {
  .bottom-moon {
    width: 15%;
    bottom: 280px;
    position: absolute;
    left: 10px;
  }
}

.middle-container {
  padding-top: 20px;
}

hr {
  border-style: dotted none none;
  border-color: #7CB74B;
  border-width: 6px;
  width: 4%;
  margin: 50px auto 50px auto;
}

.astronautno1 {
  width: 15%;
}

.paragraph-text1 {
  color: #40514E;
  width: 70%;
  margin: auto;
  line-height: 2;
}

.paragraph-text2 {
  color: #40514E;
  margin: auto;
  line-height: 2;
}

.html5-image {
  width: 20%;
  float: left;
  margin-right: 30px;
}

.css-image {
  width: 20%;
  float: right;
  margin-left: 30px;
}

.solarsystem-image {
  width: 20%;
  float: left;
  margin-right: 30px;
}

.skill-row {
  width: 70%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.BUTTON_VEN {
   background: #7CB74B;
   background-image: -webkit-linear-gradient(top, #7CB74B, #7CB74B);
   background-image: -moz-linear-gradient(top, #7CB74B, #7CB74B);
   background-image: -ms-linear-gradient(top, #7CB74B, #7CB74B);
   background-image: -o-linear-gradient(top, #7CB74B, #7CB74B);
   background-image: -webkit-gradient(to bottom, #7CB74B, #7CB74B);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;
   font-weight: 100;
   padding: 10px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin: 40px;
}

.BUTTON_VEN:hover {
   border: solid #7CB74B 0px;
   background: #4D873E;
   background-image: -webkit-linear-gradient(top, #4D873E, #4D873E);
   background-image: -moz-linear-gradient(top, #4D873E, #4D873E);
   background-image: -ms-linear-gradient(top, #4D873E, #4D873E);
   background-image: -o-linear-gradient(top, #4D873E, #4D873E);
   background-image: -webkit-gradient(to bottom, #4D873E, #4D873E);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

.bottom-container {
  background-color: #bbe1fa;
  padding: 20px;
}

.footer-link {
  color: #7CB74B;
  margin: 30px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}
a:hover {
  color: #EAF6F6;
}

.bottom-paragraph {
  color: #EAF6F6;
  margin-top: 30px;
}
