body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #bbe1fa;
  margin-top: 0;
  font-family: 'Sacramento', cursive;
}

p {
  color: #bbe1fa;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

.top-container {
  background-color: #1b262c;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  padding-top: 20px;
}

.bottom-container {
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
