body {
  font-family: 'Merriweather', serif;
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  color: #3282b8;
  line-height: 2; 
  margin: 50px auto 0 auto;

}

h2 {
  color: #3282b8;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  color: #0f4c75;
  font-family: 'Montserrat', sans-serif;
}

.top-container {
  background-color: #bbe1fa;
  position: relative;
  padding-top: 100px;
}

.top-satellite {
  position: absolute;
  right: 220px;
  top: 50px;
}

.bottom-moon {
  position: absolute;
  bottom: 280px;
  left: 180px;
}

.middle-container {
  padding-top: 20px;
}

.bottom-container {
}

.footer-link {
  color: #3282b8;
}
